<section class="contact-section">
  <div class="padding-global  padding-top-100px">
    <div class="w-layout-blockcontainer container small w-container">
      <div class="contact-wrapper" id="contact">
        <div class="contact-title-wrap">
          <h2>
            Have Any Project Idea In Your Mind?
          </h2>
        </div>
        <div class="contact-wrap">
          <div class="contact-image-wrap"
               data-aos="fade-up"
               data-aos-offset="100"
               data-aos-duration="800"
               data-aos-easing="ease-out-back"
               data-aos-mirror="true"
               data-aos-once="false"
               data-aos-anchor-placement="top-bottom"
          >
            <img class="contact-image" src="https://cdn.prod.website-files.com/67f54cce5ff458fdb00dfabe/67f691b44ed8dabde4e3bd48_image.webp" loading="lazy" alt="">
          </div>
          <div class="contact-form-wrap"
               data-aos="fade-up"
               data-aos-offset="100"
               data-aos-duration="800"
               data-aos-easing="ease-out-back"
               data-aos-mirror="true"
               data-aos-once="false"
               data-aos-anchor-placement="top-bottom"
          >
            <div class="contact-form-block w-form ">
              <form action="" class="contact-form">
                <div class="contact-field-wrap">
                  <label for="name" class="contact-field-label">
                    Your Name
                  </label>
                  <input type="text" class="contact-text-field w-input" maxlength="256" name="name" data-name="Name" placeholder="Enter your name" id="name"  required>
                </div>
                <div class="contact-field-wrap">
                  <label for="email" class="contact-field-label">
                    Your Email
                  </label>
                  <input type="email" class="contact-text-field w-input" maxlength="256" name="email" data-name="Email" placeholder="Enter your email" id="email" required>
                </div>
                <div class="contact-field-wrap">
                  <label for="message" class="contact-field-label">
                    Project Description
                  </label>
                  <textarea class="contact-textarea w-input" maxlength="5000" name="message" data-name="Message" placeholder="write your message" id="message" required></textarea>
                </div>
                <div class="submit-button-wrap">
                  <input type="submit" value="Send Messages" class="w-button submit-button">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-bg-wrap" style=""><img
      src="https://cdn.prod.website-files.com/67f54cce5ff458fdb00dfabe/67f5606b25064b079cc4a3e4_blur.webp"
      loading="lazy"
      sizes="(max-width: 1919px) 100vw, 1920px"
      srcset="https://cdn.prod.website-files.com/67f54cce5ff458fdb00dfabe/67f5606b25064b079cc4a3e4_blur-p-500.png 500w, https://cdn.prod.website-files.com/67f54cce5ff458fdb00dfabe/67f5606b25064b079cc4a3e4_blur-p-800.png 800w, https://cdn.prod.website-files.com/67f54cce5ff458fdb00dfabe/67f5606b25064b079cc4a3e4_blur-p-1080.png 1080w, https://cdn.prod.website-files.com/67f54cce5ff458fdb00dfabe/67f5606b25064b079cc4a3e4_blur-p-1600.png 1600w, https://cdn.prod.website-files.com/67f54cce5ff458fdb00dfabe/67f5606b25064b079cc4a3e4_blur.webp 1920w"
      alt="Backround Blur" class="backround-gradient" style=""></div>
  </div>

</section>
