<section class="footer-section">
  <div class="padding-global">
    <div class="w-layout-blockcontainer container w-container">
      <div class="footer-wrapper">
        <div class="portfolio-item-wrap">
          <a href="" class="portfolio-item w-inline-block">
            <div class="portfolio-item-text">
              Dribbble
            </div>
            <i class="fa-light fa-arrow-up-right"></i>
          </a>
          <a href="" class="portfolio-item w-inline-block">
            <div class="portfolio-item-text">
              Facebook
            </div>
            <i class="fa-light fa-arrow-up-right"></i>
          </a>
          <a href="" class="portfolio-item w-inline-block">
            <div class="portfolio-item-text">
              LinkedIn
            </div>
            <i class="fa-light fa-arrow-up-right"></i>
          </a>
          <a href="" class="portfolio-item w-inline-block">
            <div class="portfolio-item-text">
              Behance
            </div>
            <i class="fa-light fa-arrow-up-right"></i>
          </a>
          <a href="" class="portfolio-item w-inline-block">
            <div class="portfolio-item-text">
              Instagram
            </div>
            <i class="fa-light fa-arrow-up-right"></i>
          </a>
          <a href="" class="portfolio-item w-inline-block">
            <div class="portfolio-item-text">
              X
            </div>
            <i class="fa-light fa-arrow-up-right"></i>
          </a>
        </div>
        <div class="footer-text-wrap">
          <a href="" class="footer-span-text-wrap">
            <h2 class="footer-span-text">
              FlowBond
            </h2>
          </a>
        </div>
        <div class="copywrite-wrap">
          <div class="copywrite-text">
            Coded by
            <a href="https://www.linkedin.com/in/abdelrhmanessam74/" target="_blank" class="copywrite-span-text">
              Abdelrhman Essam
            </a>
            - Powered by
            <a href="https://webflow.com/?r=0" target="_blank" class="copywrite-span-text">
              Webflow
            </a>
          </div>
          <div class="my-links">
            <a href="https://github.com/AbdelrhmanEssam74" target="_blank" class="my-link">
              <i class="fa-brands fa-square-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/abdelrhmanessam74/" class="my-link " target="_blank">
              <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="mailto:abdelrhmanroshdy8@gmail.com" class="my-link ">
              <i class="fa-solid fa-envelope"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
