<div class="services-item-wrap">
  @for (card of serviceCards; track card.id; let i = $index) {
    <div [class]="card.class"
         data-aos="fade-up"
         data-aos-offset="350"
         [attr.data-aos-delay]="i * 300"
         data-aos-duration="500"
         data-aos-easing="ease-out"
         data-aos-mirror="true"
         data-aos-once="false"
    >
      <div class="margin-bottom-60px">
        <div class="margin-bottom-40px">
          <img [src]="card.image" loading="lazy" alt="Services Icon" class="services-icon"/>
        </div>
        <div class="margin-bottom-12px">
          <h4>{{ card.title }}</h4>
        </div>
        <p>{{ card.paragraph }}</p>
      </div>
      <ul class="services-list">
        @for (item of card.listItems; track $index) {
          <li class="services-list-item">
            <div class="dot"></div>
            <div>{{ item }}</div>
          </li>
        }
      </ul>
    </div>
  } @empty {
    <p>No services available</p>
  }
</div>
