
.faq-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  font-family: "Inter Tight", sans-serif;
}

@media screen and (max-width: 767px) {
  .faq-wrapper {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }
}

@media screen and (max-width: 991px) {
  .faq-wrapper {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}


.faq-title-wrapper {
  background-color: var(--light);
  flex: 1;
  max-width: 660px;
  padding: 40px;
}

@media screen and (max-width: 767px) {
  .faq-title-wrapper {
    padding: 50px 40px 40px;
  }
}

@media screen and (max-width: 991px) {
  .faq-title-wrapper, .faq-item-wrap {
    max-width: none;
  }
}

.faq-title-wrap {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  flex-flow: column;
  max-width: 532px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .faq-title-wrap {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }
}

h2 {
  color: var(--black);
  letter-spacing: -4px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100px;
  font-weight: 400;
  line-height: 1em;
}

@media screen and (max-width: 767px) {
  h2 {
    letter-spacing: -2px;
    font-size: 60px;
  }
}

@media screen and (max-width: 991px) {
  h2 {
    letter-spacing: -3px;
    font-size: 80px;
  }
}

p {
  color: var(--dark);
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.5em;
}

.faq-item {
  border-bottom: 1px solid #0003;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 30px;
  display: block;
}

.w-dropdown {
  text-align: left;
  z-index: 900;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 767px) {
  .faq-item {
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  .faq-item {
    width: 100%;
  }
}


.question-block {
  display: flex;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0 0;
  font-weight: 600;
}

.w-dropdown-toggle {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding-right: 40px;
}

.w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  position: relative;
}

@media screen and (max-width: 767px) {
  .question {
    font-size: 20px;
  }
}

@media screen and (max-width: 991px) {
  .question {
    font-size: 22px;
  }
}

.question {
  white-space: normal;
  font-weight: 500;
  line-height: 1.18em;
}
h4 {
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 500;
  line-height: 1.2em;
}
@media screen and (max-width: 767px) {
  h4 {
    font-size: 26px;
  }
}

@media screen and (max-width: 991px) {
  h4 {
    font-size: 32px;
  }
}


.arrow-icon-wrap {
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.faq-arrow {
  background-color: #000;
  border-radius: 2px;
  width: 18px;
  height: 2px;
}

.faq-arrow-two {
  background-color: #000;
  border-radius: 2px;
  width: 2px;
  height: 18px;
  position: absolute;
  inset: 50% 0% 0% 50%;
  transform: translate(-50%, -50%);
}

.faq-answer-block {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #0000 !important;
}

.w-dropdown-list {
  background: #ddd;
  width: 100%;
  position: relative;
  transition: all 0.3s ease;
}


@media screen and (max-width: 767px) {
  .faq-answer-block {
    max-width: none;
  }
}

@media screen and (max-width: 991px) {
  .faq-answer {
    max-width: none;
  }
}

.faq-answer {
  background-color: var(--transparent);
  padding-top: 10px;
}
p {
  color: var(--dark);
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.5em;
}


.faq-answer-block.show {
  max-height: 250px;
  opacity: 1;
}

.faq-answer-block.hide {
  max-height: 0;
  opacity: 0;
}
.faq-answer-block {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 1s ease, opacity 1s ease;
  padding-left: 20px;
}

.faq-arrow-two {
  transition: transform 0.9s ease;
}


.faq-arrow-two.rotate {
  transform: translate(-50%, -50%) rotate(90deg);
}
