<section class="faq-wrapper">
  <div class="margin-bottom-60px"></div>
  <div class="faq-title-wrapper">
    <div class="faq-title-wrap">
      <h2>Asked Questions?</h2>
      <p>
        Have questions? We’ve answers. If you can’t find what we are looking for, feel free to get in touch. James Bond
        is a best portfolio & agency website, you can easily use.
      </p>
    </div>
  </div>

  <div class="faq-item-wrap">
    <div class="faq-item w-dropdown" *ngFor="let faq of fqaData; let i = index">
      <div class="question-block w-dropdown-toggle" #toggleButton (click)="toggleFaq(i)">
        <h4 class="question">{{ faq.question }}</h4>
        <div class="arrow-icon-wrap">
          <div class="faq-arrow"></div>
          <div class="faq-arrow-two"
               [class.rotate]="faq.visible"
               style="opacity: 1;"></div>

        </div>
      </div>

      <nav
        class="faq-answer-block w-dropdown-list"
        [class.show]="faq.visible"
        [class.hide]="!faq.visible"
      >
        <div class="faq-answer">
          <p [innerHTML]="faq.answer"></p>
        </div>
      </nav>
    </div>
  </div>
</section>
