<section class="hero-section" style="">
  <div class="hero-content-wrap ">
    <div class="hero-content p-5">
      <div class="hero-title-wrap">
        <h1>James Bond
          <br>
          Product Designer</h1>
        <div class="item ui-ux-designer"
             data-outlined="true" data-original-outline="">
          <div style="" data-outlined="true" data-original-outline="">UI/UX DESIGNER
          </div>
        </div>
        <div data-outlined="true" data-original-outline="" class=" item webflow-developer">
          <div style="" data-outlined="true" data-original-outline="">
            Webflow Developer
          </div>

        </div>
      </div>
      <div class="image-wrap">
        <img
          src="https://images.unsplash.com/photo-1566753323558-f4e0952af115?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTJ8fG1hbnxlbnwwfHwwfHx8MA%3D%3D"
          loading="lazy"
          sizes="(max-width: 1919px) 100vw, 1920px"
          class="hero-image"
          alt="James Bond"
        >
      </div>

    </div>
  </div>
  <div class="hero-bg-wrap" style=""><img
    src="https://cdn.prod.website-files.com/67f54cce5ff458fdb00dfabe/67f5606b25064b079cc4a3e4_blur.webp"
    loading="lazy"
    sizes="(max-width: 1919px) 100vw, 1920px"
    srcset="https://cdn.prod.website-files.com/67f54cce5ff458fdb00dfabe/67f5606b25064b079cc4a3e4_blur-p-500.png 500w, https://cdn.prod.website-files.com/67f54cce5ff458fdb00dfabe/67f5606b25064b079cc4a3e4_blur-p-800.png 800w, https://cdn.prod.website-files.com/67f54cce5ff458fdb00dfabe/67f5606b25064b079cc4a3e4_blur-p-1080.png 1080w, https://cdn.prod.website-files.com/67f54cce5ff458fdb00dfabe/67f5606b25064b079cc4a3e4_blur-p-1600.png 1600w, https://cdn.prod.website-files.com/67f54cce5ff458fdb00dfabe/67f5606b25064b079cc4a3e4_blur.webp 1920w"
    alt="Backround Blur" class="backround-gradient" style=""></div>
</section>
